.searchCoverViewContainer {
  display: flex;
  flex-wrap: wrap;
}

.coverViewEntry {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-right: 2rem;
  cursor: pointer;
}

.coverViewEntry:hover {
  opacity: 0.7;
}

.coverViewImgReplacement {
  width: 160px;
  height: 160px;
  background-color: rgb(68, 68, 68);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coverViewEntry img {
  width: 160px;
  height: 160px;
  border-radius: 20px;
}

.coverViewEntry span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
