div.searchView {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.searchInputContainer {
  margin-top: 2rem;
  display: flex;
  margin-left: 5rem;
}

div.category {
  padding: 1rem 5rem;
}

div.categoryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.noContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  span {
    font-size: 2rem;
  }
}
