div.artistView {
  display: flex;
  flex-direction: column;
}

div.header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5rem;
  flex-basis: 20rem;

  span.artistName {
    font-size: 5rem;
    font-weight: 700;
  }

  img.cover {
    width: 300px;
    border-radius: 10px;
  }
}

div.innerContainer {
  flex: 1;
  margin: 5rem 5rem 0 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 1200px) {
  div.header {
    img.cover {
      display: none;
    }
  }
}

@media screen and (max-width: 1200px) {
  div.header {
    span.artistName {
      font-size: 3rem;
    }
  }
}
