div.container {
  position: relative;
  display: flex;
  align-items: center;
}

svg.searchIcon {
  fill: rgba(180, 180, 180, 0.7);
  width: 1.2rem;
  position: absolute;
  left: 1rem;
}

span.delete {
  right: 1rem;
  position: absolute;
  color: rgba(180, 180, 180, 0.7);
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

input.input {
  padding: 0.5rem 3rem;
  border-radius: 15px;
  border: 1px solid rgba(180, 180, 180, 0.3);
  background-color: #121212;
  color: white;
  outline: none;
}
