.player {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.playerBackButton {
  position: absolute;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
}

.playerBackButton:hover {
  opacity: 0.5;
}

.playerButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 32px;
  color: white;
}

.coverart {
  width: 300px;
  border-radius: 5px;
}

.control {
  display: flex;
  justify-content: center;
}

.playerTrack {
  font-size: 1.2rem;
  font-weight: 500;
}

.pausebutton {
  width: 50px;
}

.button:hover {
  opacity: 0.7;
}

.progressBar {
  margin: 1rem 0;
  width: 20rem;
  height: 0.3rem;
  background-color: #202020;
  border-radius: 20px;
}

.filledProgressBar {
  height: 0.3rem;
  background-color: #777777;
  border-radius: 20px;
}
