div.player {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;

  span.backButton {
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;

    &:hover {
      opacity: 0.5;
    }
  }
}

div.infoContainer {
  display: flex;
  align-items: flex-start;
  margin: auto 5rem;

  div.coverContainer {
    flex: 1 0 30%;
    display: flex;
    justify-content: flex-end;

    img.cover {
      width: auto;
      height: auto;
      max-height: 70vh;
      max-width: 100%;
      border-radius: 10px;
    }
  }

  div.metadata {
    flex: 1 0 30%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    span.track {
      font-size: 2rem;
      font-weight: 500;
    }

    p.artistAlbum {
      font-size: 1.2rem;
    }
  }
}

div.control {
  display: flex;
  justify-content: center;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 32px;
  color: white;

  &:hover {
    opacity: 0.7;
  }

  &.playpause {
    width: 50px;
  }
}

@media screen and (max-width: 700px) {
  div.infoContainer {
    flex-direction: column;
    align-items: center;
  }

  div.metadata {
    margin-top: 1rem;
  }
}
