.player {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.playerButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 32px;
  color: white;
}

.coverart {
  width: 300px;
  border-radius: 5px;
}

.control {
  display: flex;
  justify-content: center;
}

.pausebutton {
  width: 50px;
}

.button:hover {
  opacity: 0.7;
}
